doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css")
  body
    block content
