doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css")
  body
    block content
    script(type="application/javascript", src="//cdn.staticfile.org/jquery/1.11.1/jquery.js")
    script(type="application/javascript", src="//cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.js")